* {
  margen: 0;
  relleno: 0;
  familia de fuentes: 'Signika', sans-serif;
 
  list-style-type: ninguno;
  texto-decoración: ninguno;
  tamaño de la caja: caja de borde;
  esquema: ninguno;
}


. caja{
    borde: 1px sólido ninguno;
    ancho: 100%;
    
}

. barra de caja{
    borde: 1px negro sólido;
    relleno: 57px;
    fondo: negro;
    margen superior: -2px;
}

. dirección de la barra de caja a{
    flotador: centro;
    texto-decoración: ninguno;
    color: blanco;
    
}

. boxbar i{
    color: blanco;
    ancho: 30px;
}
. lista{
    borde-fondo-ancho: 900px;
    borde-fondo: 2.5px grasa oscura sólida;
    relleno: 15px; 
    flotador: derecha;
   
}

. lista ul li{
    flotador: izquierda;
    text-align: centro;
    ancho: 100px;
    list-style-type: ninguno;
    relleno: 5px;
}


. lista ul li a {
    texto-decoración: ninguno; 
    color: blanco; 

}

. lista ul li a:hover{
    borde-fondo: 4px sólido #e8491d;
    relleno: 2px;
}

. índice{
    fondo: gradiente lineal (rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.38), rgba(0,0,0,0)),url(images/learning.jpg)no-repeat;
    
    tamaño de fondo: cubierta;
    familia de fuentes: latha;
   
}
h2{
   flotador: izquierda;
}

. escritor{
    ancho: 600px;
    flotador: derecha;
    
    
}

. escritor h2{
    font-family: titillium web , sans-serif;
    tamaño de fuente: 35px;
    font-weight: negrita;
    text-transform: mayúsculas;
    color: blanco;
    sombra de texto: 1px 1px 1px;
    acolchado-top: 70px;
    altura de línea: 50px;
    animación:textanimación 4s infinito;
    
}

@keyframes textanimation{

   0%{
       espaciado de letras: 5px;
   }
   100%{

      espaciado de letras: .5px;
   }
}
. escritor h4{
    font-family: arenas movedizas, sans-serif;
    text-transform: mayúsculas;
    ancho: 600px;
    color:#ffffff;
    posición: absoluta;
    arriba:57%;
   
   
    opacidad: 0.6;
}
. entrada del formulario del escritor[type="submit"]{
    posición: absoluta;
    arriba: 75%;
    izquierda: 29%;
    frontera: ninguna;
    color: blanco;
    color de fondo: carmesí;
    text-transform: mayúsculas;
    relleno: 10px;
    
    
}

. entrada del formulario writer[type="submit"]:hover{
    fondo: verde;
    
}
. video-contenedor {
    posición: absoluta;
    arriba: 0;
    izquierda: 0;
    ancho: 100%;
    altura: 100%;
  
  }
  
 . bg-video {
    ancho: 100%;
    altura: 100%;
    ajuste del objeto: cubierta;
    
  }

   

   
. envoltorio de historias {
  pantalla: en línea-flexbox;
  flex-direction: de izquierda a derecha;
  align-items: centro;
  
}

. historia-bg {
  color de fondo: rgba (238, 238, 238, 0.85);
  relleno: 2rem;
  margen: 5rem;
  margen superior: -490px;
  ancho: 55%;
  box-shadow: 0 4rem 7rem rgba(51, 51, 51, 0.4);
  transformar: skewX(20deg);
  
}

. cuento {
  transform: skewX(-20deg);
  pantalla: flex;
}

. historia-imagen {
  ancho: 5rem;
  altura: 5rem;
  radio de borde: 50%;
  ajuste del objeto: cubierta;
  margen derecho: 5rem;
}

. historia-texto {
  espaciado de letras: 0.1rem;
}

. encabezado de la historia {
  tamaño de fuente: 1rem;
  text-transform: mayúsculas;
  color: 4e89754;
  margen-fondo: 1rem;
}

. historia-párrafo {
  tamaño de fuente: .6rem;
  color: # e8491d;
}

. historia-párrafo::primera letra {
  margen izquierdo: 1rem;
}


pie de página{
    relleno: 57px;
    borde-fondo: lightcoral;
    margin-top: 593px;
    color:#ffffff;
    color de fondo: # e8491d;
    text-align:centro;
    
    
  }
 . aboutheader{
    borde: 1px negro sólido;
    relleno: 17px;
    fondo: negro;
    margen superior: -20px;
  }
 . aboutfooter{
    relleno: 100px;
    altura: 27%;
    ancho: 100%;
    borde-fondo: lightcoral;
    margen superior: .2px;
    color:#ffffff;
    color de fondo: # e8491d;
    text-align:centro;
    
  }
 . aboutfooter li {
  
  flotador: izquierda;
  text-align: centro;
  color: blanco;
  ancho: 90px;
  list-style-type: ninguno;
  relleno: -10px;
 
 

}

. contenedor{

  pantalla: flex;
  justificar-contenido: centro;
  align-items: centro;
  altura mínima: 100vh;
}
. contenedor . recuadro1{

  posición: pariente;
  ancho: 350px;
  relleno: 40px;
  fondo: blanco;
  box-shadow: 0 5px 15px rgba (0,0,0,0.1 );
  radio de borde: 4px;
  margen: 20px;
  tamaño de la caja: caja de borde;
  desbordamiento: oculto;
  text-align: centro;
}

. contenedor . casilla1:antes{

  contenido: '';
  ancho: 50px;
  altura: 100px;
  arriba:0;
  izquierda:0;
  posición: absoluta;
  fondo: rgba(255,255,255,0.2);
 índice z: 2;
 eventos de puntero: ninguno;
}
. contenedor . recuadro1 . icono{

  posición: pariente;
  ancho: 80px;
  altura: 80px;
  color: blanco;
  antecedentes: #000;
  pantalla: flex;
  justificar-contenido: centro;
  align-items: centro;
  margen: 0 auto;
  borde-radio: 50px;
  tamaño de fuente: 20px;
  peso de fuente: 700;
  transición: 3s;
}

. contenedor . recuadro1:enésimo-niño(1). icono{

  caja-sombra: 0 0 0 0 #e91e63;
  fondo: #e91e63; 
}
. contenedor . box1:nth-child(1):hover . icono{

  caja-sombra: 0 0 0 400px #e91e63;
  
}

. contenedor . recuadro1:enésimo-niño(2). icono{

  caja-sombra: 0 0 0 0 #23e629;
  fondo:#23e629;
  
}

. contenedor . box1:nth-child(2):hover . icono{

  caja-sombra: 0 0 0 400px #23e629;
  
}
. contenedor . recuadro1:enésimo-niño(3). icono{

  caja-sombra: 0 0 0 0 #2196f3;
  fondo:#2196f3;
  
}

. contenedor . box1:nth-child(3):hover . icono{

  caja-sombra: 0 0 0 400px #2196f3;
  
}

. contenedor . recuadro1 . contenido{

  posición: pariente;
  índice z: 1;
  transición: 0.5s;
  
}
. contenedor . box1:hover . contenido{
  color: blanco;
}

. contenedor . recuadro1 . contenido h3{
  
  tamaño de fuente: 20px;
  margen: 10px 0;
  relleno: 0;
}
. contenedor . recuadro1 . contenido p{

  margen: 0;
  relleno: 0;
}
. contenedor1 h1{
  text-align: centro;
  text-transform: mayúsculas;
  color: blanco;
  
}
un{
  display:bloque en línea;
  relleno: 10px 20px;
  fondo: #e8491d;
  radio de borde: 4px;
  texto-decoración: ninguno;
  color: blanco;
  peso de fuente: 500;
  margen superior: 20px;
  box-shadow: 0 2px 5px rgba (0,0,0,0.2 );
}


 . caja{
  fondo: gradiente lineal (rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.38), rgba(0,0,0,0)),url(images/study.jpg)no-repeat;
  
  tamaño de fondo: cubierta;
  familia de fuentes: latha;
 
}
. cuadro de búsqueda{
  posición: absoluta;
  arriba: 120px;
  izquierda:1070px;
  transformar: traducir(-50px,-50px);
  fondo: #2f3640;
   altura: 40px;
   radio de borde: 40px;
   relleno: 19px;

}
. search-box:hover>. buscar-txt{
  ancho: 240px;
  relleno: 0 6px;

}
. search-box:hover>. búsqueda-btn{
  fondo: blanco;
}
. búsqueda-btn{
  color: # e8491d;
  flotador: derecha;
  ancho: 40px;
  altura: 40px;
  radio de borde: 50px;
  fondo:#2f3640; 
  pantalla: flex;
  justificar-contenido: centro;
  align-items: centro;
}
. buscar-txt{
  frontera: ninguna;
  antecedentes: ninguno;
  esquema: ninguno;
  flotador: izquierda;
  relleno: 0;
  color: blanco;
  tamaño de fuente: 16px;
  transición: .4s;
  ancho: 0px;
}

. coursefooter{
    relleno: 59px;
    altura: 173%;
    ancho: 100%;
    borde-fondo: lightcoral;
    margin-top: 170px;
    color:#ffffff;
    color de fondo: # e8491d;
    text-align:centro;
    
  }
 . coursefooter li {
  
  flotador: izquierda;
  text-align: centro;
  color: blanco;
  ancho: 90px;
  list-style-type: ninguno;
  relleno: -10px;
 
 

}

. recuadro2{
  fondo: gradiente lineal (rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.38), rgba(0,0,0,0)),url(images/desk2.png)no-repeat;
  tamaño de fondo: cubierta;
  familia de fuentes: latha;
 
  
}
. barra de caja2{
  borde: 1px negro sólido;
  relleno: 57px;
  fondo: negro;
  margen superior: -2px;
}

. boxbar2 dirección a{
  flotador: centro;
  texto-decoración: ninguno;
  color: blanco;
  
}

. boxbar2 i{
  color: blanco;
  ancho: 30px;
}
. pie de contacto{
    relleno: 70px;
    altura: 173%;
    ancho: 100%;
    borde-fondo: lightcoral;
    margin-top: 390px;
    color:#ffffff;
    color de fondo: # e8491d;
    text-align:centro;
    
  }
 . contactofooter li {
  
    flotador: izquierda;
    text-align: centro;
    color: blanco;
    ancho: 90px;
    list-style-type: ninguno;
    relleno: -10px;
   
   
  
  }
